.navigation {
    font-size: 24px;
    padding-left: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #222;
    background-color: hsla(0, 0%, 100%, 0.1);
}

.navigation__list {
    list-style: none;
}
.navigation__listItem {
    padding: 10px 0;
    text-transform: uppercase;
}

.navigation__link {
    text-decoration: none;
    color: #222;

}

.navigation__link:hover {
    color: hsl(197, 79%, 50%);

}

.navigation__link:active {
    color: hsl(197, 79%, 65%);
}

.navigation__link:focus {
    outline: solid 2px #222;
}

.hiddenHeader {
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
}